<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/pointer.css" type="text/css" media="screen">
</head>

<body id="page1">
  <header>
    <div class="row-1">
      <div class="navbar">
        <a href="http://localhost:3000/home">Home</a>
        <a href="http://localhost:3000/about">About</a>
        <div class="subnav">
          <button class="subnavbtn">Rooms <i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="http://localhost:3000/livingroom">Living Room</a>
            <a href="http://localhost:3000/kitchen">Kitchen</a>
            <a href="http://localhost:3000/bedroom">Bedroom</a>
            <a href="http://localhost:3000/office">Studyroom</a>
          </div>
        </div>
        <a href="http://localhost:3000/contact">Contact</a>
        <a href="http://localhost:3000/logout">Logout</a>
      </div>
    </div>
    <div class="row-2">
      <div class="main">
        <div class="container_12">
          <h1 style="text-align:center;">
            <a class="logo">Our Motto </a>
          </h1>
        </div>
      </div>
    </div>
  </header>
  <div id="content">
    <div class="bg-top">
      <div class="bg-top-2">
        <div class="bg">
          <div class="bg-top-shadow">
            <div class="main">
              <div class="gallery p3">
                <div class="inner">
                  <div class="wrapper">
                    <div class="extra-wrap indent-top2">
                      <p class="extra-wrap indent-bot"> The Main motto of the Website is to provide the people with a
                        good online platform where they can explore much about Interior Designs. We also Wanted to give
                        some excellent models to you to make your home look much beautiful. We also gave a Appointment
                        form which can be utilized by those who want to Buy our designs and customize their houses or
                        those who want to interact with us. we also gave customers the flexibility of choosing the mode
                        of meeting ( Online / Offline ) according to their comfort.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="main">
        <div class="container_12">
          <h1 style="text-align:center;">
            <a class="logo">Our Team </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column3">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="govind.jpeg" alt="Avatar" width="300" height="350" border="10">
          </div>
          <div class="flip-box-back"><br>
            <h2>Govind V</h2><br>
            <p>Web Devoloper
              <br><br>
              govind@gmail.com
              <br><br>
              +91 9967876545
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column3">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="praneeth.jpeg" alt="Avatar" width="300" height="350" border="10">
          </div>
          <div class="flip-box-back"><br>
            <h2>Praneeth K</h2><br>
            <p>Web Devoloper
              <br><br>
              praneeth.bvrm@gmail.com
              <br><br>
              +91 9976356789
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="column3">
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img src="myself.png" alt="Avatar" width="300" height="350" border="10">
          </div>
          <div class="flip-box-back"><br>
            <h2>Hemanth P</h2><br>
            <p>Web Devoloper
              <br><br>
              hemanthsai@gmail.com
              <br><br>
              +91 9898987897
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
<script src="./pointer.js"></script>
    <script>
        init_pointer({
            
        })
    </script>
</body>

</html>