<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/pointer.css" type="text/css" media="screen">
</head>

<body id="page1">
    <header>
        <div class="row-1">
            <div class="navbar">
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/about">About</a>
                <div class="subnav">
                    <button class="subnavbtn">Rooms <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="http://localhost:3000/livingroom">Living Room</a>
                        <a href="http://localhost:3000/kitchen">Kitchen</a>
                        <a href="http://localhost:3000/bedroom">Bedroom</a>
                        <a href="http://localhost:3000/office">Studyroom</a>
                    </div>
                </div>
                <a href="http://localhost:3000/contact">Contact</a>
                <a href="http://localhost:3000/logout">Logout</a>
            </div>
        </div>
        <div class="row-2">
            <div class="main">
                <div class="container_12">
                    <div class="grid_9">
                        <div class="logo">
                            <h1>
                                <pre>    House Interior Models</pre>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="bg-top">
            <div class="bg-top-2">
                <div class="bg">
                    <div class="bg-top-shadow">
                        <div class="main">
                            <div class="gallery p3">
                                <div class="inner">
                                    <div class="wrapper">
                                        <div class="extra-wrap indent-top2">
                                            <p class="extra-wrap indent-bot">Interior design is a process that provides
                                                its customers with a set of aesthetically pleasing but efficient
                                                solutions for a better use of the space in question.
                                                The goal of interior design is to improve the user experience by better
                                                managing the space available in the intervened environment.There are
                                                several challenges that make interior design an activity developed by
                                                professionals in the field.
                                                Basically, it is a way to transform the lives of people who live or
                                                enjoy a certain space, improving their quality of life in this through
                                                design and decoration.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <figure>
                <img src="images/new 2.jpg" alt="" width="550" height="230">
            </figure>
        </div>
        <div class="column">
            <figure>
                <img src="images/new 1.jpg" alt="" width="550" height="230">
            </figure>
        </div>
    </div>
    <br><br>
    </div>
    <h3>
        <pre>                                 Various Rooms  </pre>
    </h3>
    <div class="row">
        <div class="column">
            <figure>
                <a href="http://localhost:3000/livingroom"><img src="livingroom.jpg" alt="living room image" width="500"
                        height="230">
</body></a>
<figcaption> Living Room </figcaption>
</figure>
</div>
<div class="column">
    <figure>
        <a href="http://localhost:3000/bedroom"><img src="bedroom.jpg" alt="bed room image" width="500"
                height="230"></a>
        <figcaption> Bedroom </figcaption>
    </figure>
</div>
<div class="column">
    <figure>
        <a href="http://localhost:3000/kitchen"><img src="kitchen.jpeg" alt="kitchen image" width="500"
                height="230"></a>
        <figcaption> Kitchen </figcaption>
    </figure>
</div>
<div class="column">
    <figure>
        <a href="http://localhost:3000/office"><img src="office.jpeg" alt="office image" width="500" height="230"></a>
        <figcaption> Studyroom </figcaption>
    </figure>
</div>
</div>
<h3>
    <pre>
                            Useful Tips And Tricks</pre>
</h3>
<div class="bg-bot">
    <div class="main">
        <div class="container_12">
            <div class="wrapper">
                <article class="grid_4">
                    <div class="indent-right2">
                        <b> 1. Paint</b>
                        Though painting is the cheapest investment you can make, it's also the one with the most
                        dramatic result. Go ahead and put some color on those walls for a fresh — and inexpensive — new
                        look.</br>
                        <b>2. Do It Yourself</b>
                        The biggest budget buster is hiring others to do things you could do. Consider what you'll save
                        by taking on some relatively simple projects: painting, tiling, installing a new floor, sewing
                        curtain panels or throw pillows — whatever you feel up to trying.
                    </div>
                </article>
                <article class="grid_8">
                    <div class="wrapper">
                        <figure class="img-indent2"><img src="images/page2-img2.jpg" alt="" width="155" /></figure>
                        <div class="extra-wrap">
                            <b>3. Call in Family and Friends</b>
                            You may not have a wad of cash or a lot of home-improvement know-how, but you have other
                            resources that can help get your decorating project off the ground: the people you know.
                            Call on a group of relatives, friends and neighbors who can supply the muscle to rip down
                            wall paneling, roll on paint or assemble a room of flat-packed furniture. Just don't forget
                            to feed them lunch.</br>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<script src="./pointer.js"></script>
    <script>
        init_pointer({
            
        })
    </script>
</body>

</html>