<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/pointer.css" type="text/css" media="screen">
</head>

<body id="page2">
    <header>
        <div class="row-1">
            <div class="navbar">
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/about">About</a>
                <div class="subnav">
                    <button class="subnavbtn">Rooms <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="http://localhost:3000/livingroom">Living Room</a>
                        <a href="http://localhost:3000/kitchen">Kitchen</a>
                        <a href="http://localhost:3000/bedroom">Bedroom</a>
                        <a href="http://localhost:3000/office">Studyroom</a>
                    </div>
                </div>
                <a href="http://localhost:3000/contact">Contact</a>
                <a href="http://localhost:3000/logout">Logout</a>
            </div>
        </div>
        </div>
        <div class="row-2">
            <div class="main">
                <div class="container_12">
                    <div class="grid_9">
                        <div class="logo">
                            <h1>
                                <pre>        KITCHEN IDEAS</pre>
                            </h1>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="bg-bot-2">
            <div class="main">
                <div class="gallery p3">
                    <div class="inner">
                        <div class="wrapper">
                            <h3 class="prev-indent-bot">STRAIGHT MODULAR</h3>
                            <p class="prev-indent-bot"><b>Straight Modular Kitchen</b>
                                Unlike other layouts, this type of kitchen does not employ a work triangle as such – the
                                workflow is based on a straight line.
                                This layout is ideal for studio and loft apartments – it keeps your kitchen space to a
                                minimum while still maintaining optimum efficiency.
                                <p style="text-align:center;color:rgb(0, 0, 0)"><b> Our price range(Including Furniture): 150,000 -
                                        250,000 </b></p>
                        </div>
                        <div class="row">
                            <div class="column2">
                                <div class="cont">
                                    <img src="straight modular.jpg" alt="" width="415" height="320">
                                    <div class="middl">
                                        <div class="text">Model-1:Rs 170,000 </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="cont">
                                    <img src="straight modular-2.jpg" alt="" width="415" height="320">
                                    <div class="middl">
                                        <div class="text">Model-2:Rs 180,000 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main">
                    <div class="gallery p3">
                        <div class="inner">
                            <div class="wrapper">
                                <h3 class="prev-indent-bot">L SHAPED MODULAR</h3>
                                <p class="prev-indent-bot"><b>L-Shaped Modular Kitchen</b> This is one of the most
                                    commonly found kitchen layouts.
                                    The L-shaped Modular Kitchen layout is ideal for smaller homes as it makes maximum
                                    use of the available floor space.
                                    It gives you maximum storage and lets you easily incorporate a small dining table
                                    within your kitchen.
                                    <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price range (Including Furniture): 175,000 -
                                            2,00,000 Rs</b></p>
                            </div>

                            <div class="row">
                                <div class="column2">
                                    <div class="cont">
                                        <img src="l-shaped.jpg" alt="" width="415" height="320">
                                        <div class="middl">
                                            <div class="text">Model-1:Rs 190,000 </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column2">
                                    <div class="cont">
                                        <img src="l-shaped-2.jpg" alt="" width="415" height="320">
                                        <div class="middl">
                                            <div class="text">Model-2:Rs 180,000 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div id="content">
                            <div class="gallery p3">
                                <div class="inner">
                                    <div class="wrapper">
                                        <h3 class="prev-indent-bot">U-SHAPED MODULAR</h3>
                                        <p class="prev-indent-bot"> If your home has a large kitchen space, you might be
                                            able to fit a U-shaped kitchen layout in it.
                                            This layout has the most efficient work triangle and provides the most
                                            storage space as well (with plenty of upper, lower cabinets and tall units
                                            as well).
                                            You will also be able to have plenty of counter space, making it ideal for
                                            more than one person to use the kitchen at a time.
                                            <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price range(Including Furniture) :
                                                    2,00,000Rs -2,50,000Rs</b></p>
                                    </div>

                                    <div class="row">
                                        <div class="column2">
                                            <div class="cont">
                                                <img src="u-shaped.jpg" alt="" width="415" height="320">
                                                <div class="middl">
                                                    <div class="text">Model-1:Rs 220,000 </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column2">
                                            <div class="cont">
                                                <img src="u-shaped-2.jpg" alt="" width="415" height="320">
                                                <div class="middl">
                                                    <div class="text">Model-2:Rs 230,000 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main">
                                <div id="content">
                                    <div class="gallery p3">
                                        <div class="inner">
                                            <div class="wrapper">
                                                <h3 class="prev-indent-bot">GALLEY KITCHEN</h3>
                                                <p class="prev-indent-bot"><b> Parallel Shaped Kitchen or Galley Kitchen
                                                        Layout </b> When it comes to cooking, the parallel kitchen is
                                                    quite possibly the most efficient layout.
                                                    With two, long working areas that face each other, it can be split
                                                    into ‘wet’ and ‘dry’ workspaces.
                                                    It provides lots of counter space, storage and allows plenty of room
                                                    for movement as well.
                                                    The parallel kitchen is suitable for most types of homes and is
                                                    easily adaptable to your needs.
                                                    <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price
                                                            range(Including Furniture): 175,000 Rs - 2,00,000</b></p>
                                            </div>

                                            <div class="row">
                                                <div class="column2">
                                                    <div class="cont">
                                                        <img src="parallel.jpg" alt="" width="415" height="320">
                                                        <div class="middl">
                                                            <div class="text">Model-1:Rs 180,000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column2">
                                                    <div class="cont">
                                                        <img src="parallel-2.jpeg" alt="" width="415" height="320">
                                                        <div class="middl">
                                                            <div class="text">Model-2:Rs 190,000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main">
                                    <div id="content">
                                        <div class="gallery">
                                            <div class="inner">
                                                <div class="wrapper">
                                                    <h3 class="prev-indent-bot">ISLAND MODULAR</h3>
                                                    <p class="prev-indent-bot"><b>Island Modular Kitchen </b> For many
                                                        people, getting an island kitchen is the dream! It’s a
                                                        beautiful, contemporary option if you have the space for it.
                                                        It combines either a straight line or L-shaped kitchen model
                                                        with an unconnected island space.
                                                        The island can be used as an extra counter area or breakfast
                                                        nook, bar counter or your favourite baking nook. It can also be
                                                        equipped with a sink or stovetop. With two opposing working
                                                        areas and storage spaces, this kitchen layout is ideal for open
                                                        plan living and for entertaining.
                                                        Because of its multiple uses, these kitchens become the heart of
                                                        the home, where the entire family gathers to cook, eat and
                                                        converse.
                                                        <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our
                                                                price range(Including Furniture): 200,000 Rs - 250,000</b></p>
                                                </div>

                                                <div class="row">
                                                    <div class="column2">
                                                        <div class="cont">
                                                            <img src="island.jpg" alt="" width="415" height="320">
                                                            <div class="middl">
                                                                <div class="text">Model-1:Rs 200,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column2">
                                                        <div class="cont">
                                                            <img src="island-2.jpg" alt="" width="415" height="320">
                                                            <div class="middl">
                                                                <div class="text">Model-2:Rs 220,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script src="./pointer.js"></script>
    <script>
        init_pointer({
            
        })
    </script>
</body>

</html>