<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/pointer.css" type="text/css" media="screen">
</head>

<body id="page2">
    <header>
        <div class="row-1">
            <div class="navbar">
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/about">About</a>
                <div class="subnav">
                    <button class="subnavbtn">Rooms <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="http://localhost:3000/livingroom">Living Room</a>
                        <a href="http://localhost:3000/kitchen">Kitchen</a>
                        <a href="http://localhost:3000/bedroom">Bedroom</a>
                        <a href="http://localhost:3000/office">Studyroom</a>
                    </div>
                </div>
                <a href="http://localhost:3000/contact">Contact</a>
                <a href="http://localhost:3000/logout">Logout</a>
            </div>
        </div>
        </div>
        <div class="row-2">
            <div class="main">
                <div class="container_12">
                    <div class="grid_9">
                        <div class="logo">
                            <h1>
                                <pre>        Living Room Designs</pre>
                            </h1>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="bg-bot-1">
            <div class="main">
                <div class="gallery p3">
                    <div class="inner">
                        <div class="wrapper">
                            <h3 class="prev-indent-bot">TRADITIONAL</h3>
                            <p class="prev-indent-bot"><b>Traditional living room style</b>
                                is a style that is steeped in elegance and sophistication. The look in traditional rooms
                                is built on concepts from back in the 18th and 19th centuries.
                                The furnishings in this style are finely crafted and eloquent finished wood tone pieces.
                                Harsh and sharp angles should be avoided.
                                It is important to balance the refined look of the 18th century, all while avoiding
                                becoming overly stuffy and cluttered. The rooms themselves should have a balanced feel,
                                without being overloaded on either.
                                <p style="text-align:center;color:rgb(0, 0, 0)"><b> Our price range(Including Furniture): 250,000 -
                                        300,000 </b></p>
                        </div>
                        <div class="row">
                            <div class="column2">
                                <div class="cont">
                                    <img src="traditional1.jpg" alt="" width="415" height="320">
                                    <div class="middl">
                                        <div class="text">Model-1:Rs 260,000 </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="cont">
                                    <img src="traditional2.jpg" alt="" width="415" height="320">
                                    <div class="middl">
                                        <div class="text">Model-2:Rs 280,000 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main">
                    <div class="gallery p3">
                        <div class="inner">
                            <div class="wrapper">
                                <h3 class="prev-indent-bot">MODERN</h3>
                                <p class="prev-indent-bot"><b>Modern style </b> is recognized through simple clean lines
                                    of the furnishings and the geometric design of fabrics and decor items.
                                    Simple design with a few throw pillows accented in blue, gold and silver.
                                    A coffee table on the side and a glass center table. The furnishing of the design
                                    are quite plain with no added details and patterns.
                                    The cabinets are tucked in the wall for a clutter free space.
                                    The wooden fire place top is the center attraction of this design. There are a few
                                    walls dividing the living room to the other areas.
                                    As you can see there are no other center pieces added aside from a single silver
                                    bowl mounted on the table.
                                    <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price range(Including Furniture) : 275,000 -
                                            300,000 Rs</b></p>
                            </div>

                            <div class="row">
                                <div class="column2">
                                    <div class="cont">
                                        <img src="mid1.jpg" alt="" width="415" height="320">
                                        <div class="middl">
                                            <div class="text">Model-1:Rs 280,000 </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column2">
                                    <div class="cont">
                                        <img src="mid2.jpg" alt="" width="415" height="320">
                                        <div class="middl">
                                            <div class="text">Model-2:Rs 290,000 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div id="content">
                            <div class="gallery p3">
                                <div class="inner">
                                    <div class="wrapper">
                                        <h3 class="prev-indent-bot">VINTAGE</h3>
                                        <p class="prev-indent-bot"> <b>Vintage Living Room style</b>Think the charming
                                            eras of 50s and 60s
                                            Find inspiration your local royal heritage or the rich European culture.
                                            Go for heavy drapes, fine fabrics like silk, satin or velvet, expensive
                                            looking decor like chandeliers, porcelain sculptures, tassels in your
                                            curtain, ruffles or lace in your upholstery, classical art on your walls
                                            etc.
                                            Colours like beige, soft brown, off-white, golden, silver etc are apt
                                            choices to create a vintage living room.
                                            Dig out passed down pieces of decor, family heritage goods, black and white
                                            images of your great forefathers to add to the vintage charm of the space.
                                            <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price range :
                                                    200,000Rs -250,000Rs</b></p>
                                    </div>

                                    <div class="row">
                                        <div class="column2">
                                            <div class="cont">
                                                <img src="vintage1.jpg" alt="" width="415" height="320">
                                                <div class="middl">
                                                    <div class="text">Model-1:Rs 220,000 </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column2">
                                            <div class="cont">
                                                <img src="vintage2.jpg" alt="" width="415" height="320">
                                                <div class="middl">
                                                    <div class="text">Model-2:Rs 230,000 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main">
                                <div id="content">
                                    <div class="gallery p3">
                                        <div class="inner">
                                            <div class="wrapper">
                                                <h3 class="prev-indent-bot">RETRO</h3>
                                                <p class="prev-indent-bot"><b> RETRO </b> style is recognized through
                                                    simple clean lines of the furnishings and the geometric design of
                                                    fabrics and decor items.Simple design with a few throw pillows
                                                    accented in blue, gold and silver.
                                                    A coffee table on the side and a glass center table. The furnishing
                                                    of the design are quite plain with no added details and patterns.
                                                    The cabinets are tucked in the wall for a clutter free space.
                                                    The wooden fire place top is the center attraction of this design.
                                                    There are a few walls dividing the living room to the other areas.
                                                    As you can see there are no other center pieces added aside from a
                                                    single silver bowl mounted on the table.
                                                    <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price
                                                            range: 275,000 Rs - 300,000</b></p>
                                            </div>

                                            <div class="row">
                                                <div class="column2">
                                                    <div class="cont">
                                                        <img src="retro.jpg" alt="" width="415" height="320">
                                                        <div class="middl">
                                                            <div class="text">Model-1:Rs 280,000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column2">
                                                    <div class="cont">
                                                        <img src="retro-2.jpg" alt="" width="415" height="320">
                                                        <div class="middl">
                                                            <div class="text">Model-2:Rs 300,000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main">
                                    <div id="content">
                                        <div class="gallery">
                                            <div class="inner">
                                                <div class="wrapper">
                                                    <h3 class="prev-indent-bot">CONTEMPORARY</h3>
                                                    <p class="prev-indent-bot"><b>Contemporary </b> designs are often
                                                        mistaken with modern designs. Contemporary is not what you think
                                                        it is as being modern or such.
                                                        These are designs created presently, occurring on this time and
                                                        will still undergo changes. Hence, contemporary is ever-changing
                                                        and flexible.
                                                        These can be a combination of all types of traditional, modern
                                                        or rustic designs.
                                                        <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our
                                                                price range: 250,000 Rs - 300,000</b></p>
                                                </div>

                                                <div class="row">
                                                    <div class="column2">
                                                        <div class="cont">
                                                            <img src="cont1.jpg" alt="" width="415" height="320">
                                                            <div class="middl">
                                                                <div class="text">Model-1:Rs 260,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column2">
                                                        <div class="cont">
                                                            <img src="cont2.jpg" alt="" width="415" height="320">
                                                            <div class="middl">
                                                                <div class="text">Model-2:Rs 280,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script src="./pointer.js"></script>
                                <script>
                                    init_pointer({
                                        
                                    })
                                </script>
</body>

</html>