<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">  
    <link rel="stylesheet" href="css/pointer.css" type="text/css" media="screen"> 
<link href="login.css" type="text/css" rel="stylesheet"/>
<h1>
    You Have Been Logged Out Succesfully !!
    <br><br> 
    </h1><h1>
    Want to Login again?
</h1>
</head>
<body style="background-image:url('logoutbg.jpeg'); background-repeat:no-repeat; background-size:100% 130%;">
<br>                                                  
<a href="http://localhost:3000/"> Click here to Login Again</a>
<script src="./pointer.js"></script>
    <script>
        init_pointer({
            
        })
    </script>
</body>
</html>