<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/pointer.css" type="text/css" media="screen">
</head>

<body id="page2">
    <header>
        <div class="row-1">
            <div class="navbar">
                <a href="http://localhost:3000/home">Home</a>
                <a href="http://localhost:3000/about">About</a>
                <div class="subnav">
                    <button class="subnavbtn">Rooms <i class="fa fa-caret-down"></i></button>
                    <div class="subnav-content">
                        <a href="http://localhost:3000/livingroom">Living Room</a>
                        <a href="http://localhost:3000/kitchen">Kitchen</a>
                        <a href="http://localhost:3000/bedroom">Bedroom</a>
                        <a href="http://localhost:3000/office">Studyroom</a>
                    </div>
                </div>
                <a href="http://localhost:3000/contact">Contact</a>
                <a href="http://localhost:3000/logout">Logout</a>
            </div>
        </div>
        </div>
        <div class="row-2">
            <div class="main">
                <div class="container_12">
                    <div class="grid_9">
                        <div class="logo">
                            <h1>
                                <pre>        STUDY ROOM/OFFICE</pre>
                            </h1>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="bg-bot-4">
            <div class="main">
                <div class="gallery p3">
                    <div class="inner">
                        <div class="wrapper">
                            <h3 class="prev-indent-bot">LONG SURFACE</h3>
                            <p class="prev-indent-bot"><b>Long Surface Shared Study Style</b>
                                A long surfaced shared study like this blue and white one is an excellent choice if
                                space is going to be shared by siblings.
                                It is even perfect for home-based entrepreneurs who work with micro teams and need an
                                elongated work desk. Here,
                                a long ledge desk with three comfortable whisker chairs, individual storage cabinets,
                                bookshelves on top with wall art and wall-mounted lights make this study room design
                                ultra-modern and functional.
                                <p style="text-align:center;color:rgb(0, 0, 0)"><b> Our price range: 150,000 -
                                        200,000 </b></p>
                        </div>
                        <div class="row">
                            <div class="column2">
                                <div class="cont">
                                    <img src="long surface-1.jpg" alt="" width="415" height="320">
                                    <div class="middl">
                                        <div class="text">Model-1:Rs 160,000 </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column2">
                                <div class="cont">
                                    <img src="long surface-2.jpg" alt="" width="415" height="320">
                                    <div class="middl">
                                        <div class="text">Model-2:Rs 180,000 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main">
                    <div class="gallery p3">
                        <div class="inner">
                            <div class="wrapper">
                                <h3 class="prev-indent-bot">MODERN</h3>
                                <p class="prev-indent-bot"><b>Modern Study Room Style</b>For those of who like
                                    everything modern, this study room style will make it to the top of your list.
                                    Here, this study room is designed to perfection with all modern accents.
                                    The glass door partition is a smart way to create a separate area in your living
                                    room or in large rooms,
                                    especially if you live in a 2 – 3 BHK apartment or an independent house with no
                                    dedicated study.
                                    This way, you have a separate study room where you can get things done in peace.
                                    <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price range(Including Furniture) : 175,000 -
                                            200,000 Rs</b></p>
                            </div>

                            <div class="row">
                                <div class="column2">
                                    <div class="cont">
                                        <img src="modern-1.jpg" alt="" width="415" height="320">
                                        <div class="middl">
                                            <div class="text">Model-1:Rs 180,000 </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column2">
                                    <div class="cont">
                                        <img src="modern-2.jpg" alt="" width="415" height="320">
                                        <div class="middl">
                                            <div class="text">Model-2:Rs 190,000 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div id="content">
                            <div class="gallery p3">
                                <div class="inner">
                                    <div class="wrapper">
                                        <h3 class="prev-indent-bot">CHARMING</h3>
                                        <p class="prev-indent-bot"> <b> Charming White Study Room</b>This style of a
                                            study room screams peace! A mirrored cabinet in white to keep your books
                                            organised,
                                            a built-in unit with a combination of ledge shelves and drawers, a compact
                                            study table with a striped back panel make this space multifunctional.
                                            Putting everything together is a bright yellow wing chair.
                                            If you are a full-time writer, a lawyer or a home based entrepreneur this
                                            modern study room style is an excellent choice.
                                            <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price range(Including Furniture) :
                                                    200,000Rs -250,000Rs</b></p>
                                    </div>

                                    <div class="row">
                                        <div class="column2">
                                            <div class="cont">
                                                <img src="charming-1.jpg" alt="" width="415" height="320">
                                                <div class="middl">
                                                    <div class="text">Model-1:Rs 220,000 </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column2">
                                            <div class="cont">
                                                <img src="charming-2.jpg" alt="" width="415" height="320">
                                                <div class="middl">
                                                    <div class="text">Model-2:Rs 230,000 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main">
                                <div id="content">
                                    <div class="gallery p3">
                                        <div class="inner">
                                            <div class="wrapper">
                                                <h3 class="prev-indent-bot">RUSTIC</h3>
                                                <p class="prev-indent-bot"><b>Rustic Modern Study Room</b> Rustic modern
                                                    design is for those of you who like the idea of old world charm back
                                                    into your home.
                                                    This rustic style study room consists of a wooden study table with
                                                    storage drawers, a wooden chair with a wicker back, and flooring in
                                                    wood too.
                                                    Another great thing about this style is you don’t need the entire
                                                    room to work this out.
                                                    This concept can be a part of your bedroom or any corner of your
                                                    home as well.
                                                    <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our price
                                                            range(Including Furniture): 175,000 Rs - 200,000</b></p>
                                            </div>

                                            <div class="row">
                                                <div class="column2">
                                                    <div class="cont">
                                                        <img src="rustic-sr-1.jpg" alt="" width="415" height="320">
                                                        <div class="middl">
                                                            <div class="text">Model-1:Rs 180,000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column2">
                                                    <div class="cont">
                                                        <img src="rustic-sr-2.jpg" alt="" width="415" height="320">
                                                        <div class="middl">
                                                            <div class="text">Model-2:Rs 190,000 </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main">
                                    <div id="content">
                                        <div class="gallery">
                                            <div class="inner">
                                                <div class="wrapper">
                                                    <h3 class="prev-indent-bot">UPPER WEST</h3>
                                                    <p class="prev-indent-bot"><b>Upper West Style Study Room</b> This
                                                        study room style has an upper west feel to it.
                                                        The design has multiple storage options, compact study table
                                                        with leg space and wicker chair, making it a smart space-saving
                                                        design.
                                                        Although this study room design is designed for two people, it
                                                        can surely be customised for one or more than two (depending on
                                                        the available space).
                                                        <p style="text-align:center;color:rgb(0, 0, 0)"><b>Our
                                                                price range(Including Furniture): 175,000 Rs - 200,000</b></p>
                                                </div>

                                                <div class="row">
                                                    <div class="column2">
                                                        <div class="cont">
                                                            <img src="upper west-1.jpg" alt="" width="415" height="320">
                                                            <div class="middl">
                                                                <div class="text">Model-1:Rs 180,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column2">
                                                        <div class="cont">
                                                            <img src="upper west-2.jpg" alt="" width="415" height="320">
                                                            <div class="middl">
                                                                <div class="text">Model-2:Rs 190,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script src="./pointer.js"></script>
    <script>
        init_pointer({
            
        })
    </script>
</body>

</html>